@use '/src/mixins' as mixin;

@include mixin.theming() using($theme) {
  .title {
    @include mixin.background-color($theme, 'accent', 600);
  }
}

.main-wraper * {
  border-radius: 15px;
}

.content-wraper {
  width: 94%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

img {
  width: 94%;
  height: 94%;
  margin: 3%;
  border-radius: 15px;
}

mat-grid-tile {
  border-radius: 5px;
}

.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-title {
  color: black;
}

.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-description {
  color: gray;
}

.title {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
}

.ICons {
  position: relative;
  left: 10px;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.meniuPicrure {
  width: 140px;
  height: 40px;
  border: 2px solid blue;
}

.manePicture {
  width: 800px;
  height: 600px;
}

.manePicture img {
  border: 2px solid purple;
}