<div class="main-wraper">
  <mat-grid-list *ngIf="element" cols="2" rowHeight="1:1">
    <div class="title">
      <h1>{{element.title}}</h1>
    </div>
    <mat-grid-tile >
      <!-- <div class="content-wraper">
        <img src={{element.image}} alt={{element.title}}>
      </div> -->
      <div>   
        <mat-tab-group >
          <mat-tab >
            <ng-template mat-tab-label>
              <img src={{element.images[1]}} alt={{element.title}} class="meniuPicrure">
            </ng-template> 
            <div class="manePicture">
              <img src={{element.images[1]}} alt={{element.title}}  >
            </div>
          </mat-tab>

          <mat-tab >
            <ng-template mat-tab-label>
              <img src={{element.images[2]}} alt={{element.title}} class="meniuPicrure">
            </ng-template> 
            <div class="manePicture">
              <img src={{element.images[2]}} alt={{element.title}}  >
            </div>
          </mat-tab>

          <mat-tab >
            <ng-template mat-tab-label>
              <img src={{element.images[3]}} alt={{element.title}} class="meniuPicrure">
            </ng-template> 
            <div class="manePicture">
              <img src={{element.images[3]}} alt={{element.title}}  >
            </div>
          </mat-tab>

          <mat-tab  >
            <ng-template mat-tab-label>
              <img src={{element.images[4]}} alt={{element.title}} class="meniuPicrure">
            </ng-template>
            <div class="manePicture">
              <img src={{element.images[4]}} alt={{element.title}}>
            </div> 
            
          </mat-tab>

        </mat-tab-group> 
    </div>   
    </mat-grid-tile>
   

    <mat-grid-tile>
      <mat-accordion multi class="content-wraper">
        <!-- <mat-expansion-panel disabled  >
          <mat-expansion-panel-header>
            <mat-panel-title >
              title
            </mat-panel-title>
            <mat-panel-description>
              {{element.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel> -->

        <mat-expansion-panel disabled >
          <mat-expansion-panel-header>
            <mat-panel-title >
              price
            </mat-panel-title>
            <mat-panel-description>
              {{element.price | currency }}
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>


        <ng-container *ngFor="let specification of element.specifications;">
          <mat-expansion-panel *ngIf="element.specifications" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header >
                <mat-panel-title class="flexSpaceBetween">
                  {{specification.title}}
                  <a
                  class="ICons" 
                  [href]="getGoogleSearchURL(specification.knowledge)"
                  target="_blank"
                  >
                    <mat-icon aria-hidden="false" aria-label="Example home" fontIcon="help"></mat-icon>
                  </a>
                </mat-panel-title>
                <mat-panel-description>
                  {{specification.value}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{specification.valueLong}}</p>
              <a 
              class="ICons" 
              [href]="getGoogleSearchURL(specification.partReview)"
              target="_blank"
              >
                <mat-icon aria-hidden="false" aria-label="Example home" fontIcon="help"></mat-icon>
              </a>
          </mat-expansion-panel>
        </ng-container>

        
      </mat-accordion>
    </mat-grid-tile>
  </mat-grid-list>
</div>
  

 
  
  
  
