@use '@angular/material' as mat;
@use '/src/theme' as theme;
@use '/src/mixins' as mixin;


:host{
    display: block;
    width: 100%;
    height: 200px;
    @include mixin.color(theme.$eshop-primary, 600);
}