@use '@angular/material' as mat;
@use '/src/theme' as theme;
@use 'footer.component-theme' as t;


@media (prefers-color-scheme: light) {
    @include t.apply-theme(theme.$light-theme);
}

@media (prefers-color-scheme: dark) {
    @include t.apply-theme(theme.$dark-theme);
}

:host{
    display: block;
    width: 100%;
    height: 200px;
}