@use '/src/mixins' as mixin;

@include mixin.theming() using($theme) {
    .no-products-wrapper .info-box {
        border: 4px solid mixin.get-color($theme, 'accent', 600);
    }
}

.no-products-wrapper {
    text-align: center;

    .info-box {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em;
        border-radius: 10px;

        .icon {
            min-width: 24px;
        }
    }


    h2 {
        margin: 0;
        display: inline-block;
    }
}


@media((max-width: 599.98px)) {
    .container {
        margin: 0;
    }

    .no-products-wrapper .info-box {
        display: flex;
        padding: 0.25em;
        
        h2 {
            font-size: 14px;
        }
    }
}