<nav class="menu">
    <div class="menu-left">
        <span class="logo" [routerLink]="'/'"></span>
            <ng-container *ngFor="let cat of categories">
              <!-- Handle branch node buttons here -->
              <ng-container *ngIf="cat.children && cat.children.length > 0">
                <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu">
                  {{cat.name}}
                </button>
                <app-menu-item #menu [items]="cat.children"></app-menu-item>
              </ng-container>
              <!-- Leaf node buttons here -->
              <ng-container *ngIf="!cat.children || cat.children.length === 0">
                <button mat-button color="primary" [routerLink]="'category/' + cat.id">
                  {{cat.name}}
                </button>
              </ng-container>
            </ng-container>

        <button mat-button>Contact</button>
    </div>

    <div class="menu-right">
        <button mat-fab color="accent" aria-label="Shopping Card button">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="User button">
            <mat-icon>perm_identity</mat-icon>
        </button>
    </div>
</nav>