@use '/src/mixins' as mixin;

@include mixin.theming() using($theme) {
    nav.menu {
        @include mixin.background-color($theme, 'primary', 600);
    }
}

nav.menu {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
}

.menu-right {
    display: flex;
    gap: 1em;
    margin-right: 2em;
    align-items: center;
}

.logo {
    background-image: url('/assets/images/logo.svg');
    display: inline-block;
    width: 100px;
    height: 40px;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: -5px 60px -13px;
}

.logo:hover {
    cursor: pointer;
}