<nav class="menu">
    <div class="menu-left">
        <span class="logo" [routerLink]="'/'"></span>
        <!-- Created a div for navigation bar-->
        <div class="navigationBar">
            <div *ngFor="let cat of categories" class="downMenu">
                <button class="downBtn">
                    <a href="#">{{cat.name}}</a>
                </button>
                <div class="downMenu-content">
                    <div class="megaMenu">
                        <div *ngFor="let subCat of cat.children" class="menuCol">
                            <h3>{{subCat.name}}</h3>
                            <ng-container  *ngFor="let subSubCat of subCat.children">
                                <a href="#">{{subSubCat.name}}</a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-right">
        <mat-slide-toggle color="accent" [checked]="isDarkMode" (toggleChange)="toggleMode()">
            Dark Mode
        </mat-slide-toggle>
        <button mat-fab color="accent" aria-label="Shopping Card button">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="User button">
            <mat-icon>perm_identity</mat-icon>
        </button>
    </div>
</nav>