@use '/src/mixins' as mixin;

@include mixin.theming() using($theme) {
    nav.menu {
        @include mixin.background-color($theme, 'primary', 600);
    }

    .downBtn>a {
        color: mixin.get-color($theme, 'accent', 50);
    }

    .downMenu:hover .downBtn {
        border-bottom: 4px solid mixin.get-color($theme, 'accent', 600);
    }

    /* For hover effect on button */
    .navigationBar a:hover,
    .downMenu:hover .downBtn {
        @include mixin.background-color($theme, 'primary', 700);
    }

    .megaMenu {
        @include mixin.background-color($theme, 'primary', 100);
    }

    /* Style the columns */
    .menuCol {
        width: 80%;

        &>* {
            color: mixin.get-color($theme, 'primary', 900);

            &:hover {
                @include mixin.background-color($theme, 'primary', 600);
            }
        }
    }
}

nav.menu {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
}

.menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: 2em;
}

.menu-right {
    display: flex;
    gap: 1em;
    margin-right: 2em;
    align-items: center;
    padding: 1em;
    margin-left: auto;
}

.logo {
    background-image: url('/assets/images/logo.svg');
    display: inline-block;
    width: 100px;
    height: 40px;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.logo:hover {
    cursor: pointer;
}

/* For navigation menu */
.navigationBar {
    display: inline-flex;
    outline: none;
    border: none;
    overflow: hidden;
    height: 100%;

    .downMenu {
        height: 100%;

        .downBtn {
            height: 100%;
        }
    }
}

/* For texts in navigation bar */
.navigationBar a {
    font-size: 14px;
    text-decoration: none;
}

/* The dropdown div */
.downMenu {
    overflow: hidden;
}

/* For downButton to work as menu */
.downMenu .downBtn {
    padding: 15px 15px;
    background-color: inherit;
    border: none;
    border-bottom: 4px solid transparent;
}

/* To hide mega menu */
.downMenu-content {
    position: absolute;
    display: none;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);

    &::after {
        content: "";
        display: block;
        position: absolute;
        pointer-events: none;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .7);
    }
}

/* To show mega menu on hover */
.downMenu:hover .downMenu-content {
    display: block;
}

.megaMenu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 5em;

    /* Style the columns */
    .menuCol {
        width: 80%;

        & h3 {
            font-size: 18px;
            margin-bottom: .75em;
            cursor: pointer;
            font-weight: bold;
            display: block;
            padding: 10px;
        }

        & a {
            display: flex;
            gap: 10px;
            margin-bottom: .25em;
            text-decoration: none;
            padding: 10px;
            align-items: flex-end;
        }
    }
}

@media((max-width: 599.98px)) {
    .menu-left {
        margin-left: .5em;
    }

    .menu-right {
        gap: .5em;
        margin-right: .5em;
        padding: .5em;
    }
}