@use '/src/mixins' as mixin;
@use '/src/theme' as theme;

@include mixin.theming() using($theme) {
    nav.menu {
        @include mixin.background-color($theme, 'primary', 600);
    }

    .downMenu.active .downBtn {
        @include mixin.background-color($theme, 'primary', 700);
        color: mixin.get-color($theme, 'accent', 300);
        border-bottom: 4px solid mixin.get-color($theme, 'accent', 600);
    }

    .downBtn {
        color: mixin.get-color($theme, 'accent', 50);

        &:hover {
            @include mixin.background-color($theme, 'primary', 700);
            color: mixin.get-color($theme, 'accent', 300);
        }
    }

    .megaMenu a:hover {
        $color: mixin.get-color($theme, 'accent', 400);

        @if ($theme ==theme.$light-theme) {
            $color: mixin.get-color($theme, 'accent', 200);
        }

        color: $color;
        outline: 2px solid $color;
        border-radius: 10px;
    }

    .megaMenu {
        @include mixin.background-color($theme, 'primary', 100);
    }

    /* Style the columns */
    .menuCol {
        width: 80%;

        &:hover{
            $Datest: 0 ;
            &h3.Dtest:not(:hover) {
                $Datest: 0 ;
            }
            &h3.Dtest:hover{
                $Datest: 1;
            }
            @if($Datest==1){//UC
                @include mixin.background-color($theme, 'primary', 300);
                border-radius: 10px;
            }
        }
        &>* {
            color: mixin.get-color($theme, 'primary', 900);

            &:hover {
                @include mixin.background-color($theme, 'primary', 600);
                border-radius: 10px;

            }

        }
    }
}

nav.menu {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);
    position: relative;
}

.menu-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-left: 2em;
}

.menu-right {
    display: flex;
    gap: 1em;
    margin-right: 2em;
    align-items: center;
    padding: 1em;
    margin-left: auto;
}

.logo {
    background-image: url('/assets/images/logo.svg');
    display: inline-block;
    width: 100px;
    height: 40px;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.logo:hover {
    cursor: pointer;
}

/* For navigation menu */
.navigationBar {
    display: inline-flex;
    outline: none;
    border: none;
    height: 100%;

    .downMenu {
        height: 100%;

        .downBtn {
            height: 100%;
        }
    }
}

/* For texts in navigation bar */
.navigationBar a {
    font-size: 14px;
    text-decoration: none;
}

/* The dropdown div */
.downMenu {
    .downMenu-content {
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 5vw;
        padding-right: 5vw;
        top: 100%;
        height: calc(100vh - 100%);
        background-color: rgba(0, 0, 0, .4);
        z-index: 2;
        
        opacity: 0;
        transform: translateY(-15px);
        pointer-events: none;
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;


        .megaMenu {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding: 1em;
            border-radius: 20px;
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .4);

            /* Style the columns */
            .menuCol {
                width: 80%;

                & h3 {
                    font-size: 18px;
                    margin-bottom: .75em;
                    cursor: pointer;
                    font-weight: bold;
                    display: block;
                    padding: 10px;
                }

                & a {
                    display: flex;
                    gap: 10px;
                    margin-bottom: .25em;
                    text-decoration: none;
                    padding: 10px;
                    align-items: center;
                }
            }
        }
    }

    .downBtn {
        padding: 15px 15px;
        background-color: inherit;
        border: none;
        border-bottom: 4px solid transparent;
        cursor: pointer;
        transition: all 150ms;
    }

    &.active .downMenu-content {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

@media((max-width: 599.98px)) {
    .menu-left {
        margin-left: .5em;
    }

    .menu-right {
        gap: .5em;
        margin-right: .5em;
        padding: .5em;
    }
}