<nav class="menu">
    <div class="menu-left">
        <button *ngIf="isMobile" mat-icon-button aria-label="Home" [routerLink]="'/'"><mat-icon>home</mat-icon></button>
        <span *ngIf="!isMobile" class="logo" [routerLink]="'/'"></span>
        <div *ngIf="!isMobile" class="navigationBar" #navigationBar>
            <div *ngFor="let cat of categories" class="downMenu" data-dropdown>
                <button class="downBtn" data-dropdown-button>{{cat.name}}</button>
                <div class="downMenu-content">
                    <div class="megaMenu">
                        <div *ngFor="let subCat of cat.children" class="menuCol">
                            <h3 [routerLink]="getCategoryURL(subCat.id)" (click)="closeMenu($event)">{{subCat.name}}
                            </h3>
                            <ng-container *ngFor="let subSubCat of subCat.children">
                                <a href="#" [routerLink]="getCategoryURL(subSubCat.id)" (click)="closeMenu($event)">
                                    <mat-icon *ngIf="subSubCat.icon">{{subSubCat.icon}}</mat-icon>
                                    {{subSubCat.name}}
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-right">
        <mat-icon>light_mode</mat-icon>
        <mat-slide-toggle [checked]="isDarkMode" (change)="toggleMode()" aria-label="Theme">
        </mat-slide-toggle>
        <mat-icon>dark_mode</mat-icon>
        <button *ngIf="!isMobile" mat-fab color="accent" aria-label="Shopping Card button" (click)="openShoppingCart()">
            <mat-icon [matBadge]="cartItemCount ? cartItemCount : ''" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <button *ngIf="isMobile" mat-mini-fab color="accent" aria-label="Shopping Card button" (click)="openShoppingCart()">
            <mat-icon [matBadge]="cartItemCount ? cartItemCount : ''" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <button *ngIf="!isMobile" mat-fab color="primary" aria-label="User button" (click)="login()">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <button *ngIf="isMobile" mat-mini-fab color="primary" aria-label="User button" (click)="login()">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <button *ngIf="isMobile" mat-mini-fab color="warn" aria-label="Toggle hamburger menu" (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</nav>