@use '@angular/material' as mat;
@use '/src/theme';

:host.light-theme {
    @include mat.all-component-themes(theme.$light-theme);
}

:host.dark-theme {
    @include mat.all-component-colors(theme.$dark-theme);
}

.mat-sidenav-container, .mat-sidenav-content, .mat-sidenav {
    height: 100%;
}

.mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mat-sidenav {
    width: 100%;
}

.page-wrapper {
    flex: 1;
}

.breadcrumb {
    margin-block: 1em;
}