<div class="mat-app-background">
    <mat-sidenav-container class="mat-sidenav-container">
        <mat-sidenav #sidenav class="mat-sidenav">
            <app-side-menu (sidenavToggle)="sidenav.toggle()"></app-side-menu>
        </mat-sidenav>
        <mat-sidenav-content class="mat-sidenav-content">
            <header>
                <app-menu (sidenavToggle)="sidenav.toggle()"></app-menu>
            </header>
            <div class="container page-wrapper">
                <section class="breadcrumb">
                    <app-breadcrumb></app-breadcrumb>
                </section>
                <div class="grid-container">
                    <main>
                        <router-outlet></router-outlet>
                    </main>
                </div>
            </div>
            <footer>
                <app-footer></app-footer>
            </footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>