@use '@angular/material' as mat;
@use '/src/theme';

:host.light-theme {
    @include mat.all-component-themes(theme.$light-theme);
}

:host.dark-theme {
    @include mat.all-component-colors(theme.$dark-theme);
}

.mat-sidenav-container, .mat-sidenav-content, .mat-sidenav {
    height: 100%;
}
.mat-sidenav {
    width: 100%;
}