// @use '/src/scss/' as *;

// :host.light-theme {
//     @include all-component-themes($light-theme);
// }

// :host.dark-theme {
//     @include all-component-colors($dark-theme);
// }

.mat-sidenav-container, .mat-sidenav-content, .mat-sidenav {
    height: 100%;
}

.mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mat-sidenav {
    width: 100%;
}

.page-wrapper {
    flex: 1;
}

.breadcrumb {
    margin-block: 1em;
}