@use '/src/scss/' as *;

@include theming() using($theme) {
    .qty {
        color: get-color($theme, 'accent', 600);
    }
}

.mat-card {
    border-radius: 1em;
    position: relative;
    transition: all 0.15s ease-in-out;

    &:hover {
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
    }
}

.mat-card-content {
    padding-bottom: 1em;
}

.item-wrapper {
    display: flex;
    gap: 1em;

    .item-wrapper {
        flex-direction: column;
    }
}

img {
    max-width: 150px;
    cursor: pointer;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 1em;

    >* {
        margin: 0;
    }
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.qty {
    font-size: 24px;
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: 1em;
    right: 1em;
}

.item-content {
    display: flex;
    flex-direction: column;

    > *:first-child {
        flex: 1;
    }
}

@media((max-width: 599.98px)) {
    .item-wrapper {
        flex-direction: column;
    }

    img {
        display: inline-block;
        margin: 0 auto;
    }
}