<mat-card class="mat-card">
    <mat-card-content class="mat-card-content">
        <div class="item-wrapper">
            <img [src]="cartItem.image" [alt]="'პროდუქტის სურათი'" />
            <div class="item-content">
                <div>
                    <mat-card-title>
                        {{cartItem.product_name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        ფასი: <span class="price">{{cartItem.price | currency}}</span>
                    </mat-card-subtitle>
                </div>
                <div class="quantity-control">
                    <h3>რაოდენობა: <span class="qty">{{cartItem.quantity}}</span></h3>
                    <div class="button-wrapper">
                        <button mat-mini-fab color="accent" 
                            (click)="decreaseQty()"
                            [disabled]="cartItem.quantity == 1"
                            aria-label="რაოდენობის შემცირება">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" aria-label="რაოდენობის გაზრდა" (click)="increaseQty()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <button class="close-button" mat-mini-fab color="warn" aria-label="კალათიდან წაშლა">
        <mat-icon>clear</mat-icon>
    </button>
</mat-card>