<div class="mainContentWraper">
    <div class="mainPiture">
        <img src={{manePicture}} alt="main picture">
    </div>
    <div class="pictureMenu">
        <button (click)="perviousButton()" mat-fab color="accent"><mat-icon>arrow_back_ios</mat-icon></button>

        <div class="menuPictureWraper" 
            *ngFor="let picture of pictures; 
            let i=index" (click)="changeManePicture(i)" 
            [ngClass]="{'active': i == picturMenuPointer}">
            <img class="menuPicture" [src]="picture" [alt]="'picture ' +(i+1) ">
        </div>

        <button (click)="nextButton()" mat-fab color="accent"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
</div>