@use '/src/scss/' as *;

@include theming() using($theme) {
    h1 {
        color: get-color($theme, "accent", 600);
    }
    h2 {
        color: get-color($theme, "warn", 600);
    }
    .wrapper {
         border-color: get-color($theme, "accent", 600);
    }
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border-radius: 1em;
    border-width: 4px;
    border-style: solid;
}

.form-wrapper {
    margin-inline: auto;
    min-width: 150px;
    max-width: 500px;
    text-align: center;
}

form>* {
    width: 100%;
    margin-bottom: 1em;
}

.login-button {
    padding-block: 1em;
    font-size: 1.7rem;
}

h2 {
    height: 1em;
}

.mdc-icon-button {
    display: flex;
}