@use '/src/mixins' as mixin;
@use '/src/theme' as theme;
@use 'sass:color';

@mixin theming() {
    :host.light-theme {
        @include apply-theme(theme.$light-theme);
    }
    
    :host.dark-theme {
        @include apply-theme(theme.$dark-theme);
    }
}

@mixin apply-theme($theme) {
    mat-card:hover {
        outline: 2px solid rgba(mixin.get-color($theme, 'accent', 300), .4);
    }
}