@use '/src/mixins' as mixin;

@include mixin.theming() using($theme) {
    mat-card:hover {
        outline: 2px solid rgba(mixin.get-color($theme, 'accent', 300), .7);
    }
}

:host {
    width: 100%;
    margin: 1em;
}

.image-wrapper {
    height: 200px;
    margin-bottom: 1.5em;
}

img {
    max-height: 200px;
    width: auto;
    margin-inline: auto;
    max-width: 100%;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
    margin-inline: 0;
    gap: 15px;
}

mat-card-actions>button {
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
}

.truncate-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    line-height: 1.2;
}

.truncate {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-content {
    cursor: pointer;
}