@use 'sass:map';
@use '@angular/material' as mat;

@mixin background-color($theme, $type, $hue) {
    $color-config: mat.get-color-config($theme);
    $palette: map.get($color-config, $type);

    background-color: mat.get-color-from-palette($palette, $hue);
    color: mat.get-color-from-palette($palette, $hue + '-contrast');
}