@use 'scss/index' as *;

@include all-component-typographies();
@include core();

.light-theme {
    @include all-component-themes($light-theme);
}

.dark-theme {
    @include all-component-colors($dark-theme);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin: 0 35px;
}

// აქ ხდება ნაგულისხმები სტილების გადაწერა toggle slider-ის კომპონენტზე.
.light-theme .mat-mdc-slide-toggle {
    --mdc-switch-unselected-focus-state-layer-color: #{get-color($light-theme, 'accent', 300)};
    --mdc-switch-unselected-pressed-state-layer-color: #{get-color($light-theme, 'accent', 300)};
    --mdc-switch-unselected-hover-state-layer-color: #{get-color($light-theme, 'accent', 300)};
    --mdc-switch-unselected-focus-track-color: #{get-color($light-theme, 'accent', 200)};
    --mdc-switch-unselected-hover-track-color: #{get-color($light-theme, 'accent', 200)};
    --mdc-switch-unselected-pressed-track-color: #{get-color($light-theme, 'accent', 200)};
    --mdc-switch-unselected-track-color: #{get-color($light-theme, 'accent', 200)};
    --mdc-switch-unselected-focus-handle-color: #{get-color($light-theme, 'accent', 500)};
    --mdc-switch-unselected-hover-handle-color: #{get-color($light-theme, 'accent', 500)};
    --mdc-switch-unselected-pressed-handle-color: #{get-color($light-theme, 'accent', 500)};
    --mdc-switch-unselected-handle-color: #{get-color($light-theme, 'accent', 400)};
}


// ფაქტიურად "ვმალავთ" icon-ს...
:root {
    --mdc-switch-selected-icon-size: 0px;
    --mdc-switch-unselected-icon-size: 0px;
}
.no-scroll {
    overflow: hidden;
}


body.light-theme {
    // ენის გადასართავი მენიუს სტილები, მუქი ფერის თემა 
    .mdc-menu-surface {
        @include mixin.background-color(theme.$light-theme, 'primary', 50);
    }
}

body.dark-theme {
    // ენის გადასართავი მენიუს სტილები, მუქი ფერის თემა 
    .mdc-menu-surface {
        @include mixin.background-color(theme.$dark-theme, 'primary', 700);
    }
}