@forward 'abstract';
@use 'abstract' as *;

//custom palette
// #303030
$test-palette: (
  50: #999999,
  100: #909090,
  200: #858585,
  300: #808080,
  400: #757575,
  500: #707070,
  600: #303030,
  700: #202020,
  800: #101010,
  900: #000000,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  )
 );


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$light-primary: define-palette($indigo-palette);
$light-accent: define-palette($deep-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$light-warn: define-palette($red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: define-typography-config(),
  density: 0,
));

// Define a dark theme
$dark-primary: define-palette($test-palette);
$dark-accent: define-palette($orange-palette);

$dark-theme: define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));
