.content-wraper {
  width: 85%;
  align-items: center;
  justify-content: center;
  background-color: red; 
}
img{
  width: 90%;
  height: 90%;
  margin: 5%;
}
table{
  width: 100%;
}
body{
  background-color: blue; 
}
mat-grid-tile {
  background: lightblue;
  border-radius: 5px;
}

.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-title{
  color: black;
}
.mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-description{
  color: gray;
}
